

body{
   background: #9cdbde;

}


@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: local("Kaushan Script"), local("KaushanScript-Regular"), url("https://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IEd0sm1ffa_JvZxsF_BEwQk.woff2") format("woff2");
}

#main{
    display: flex;
    align-items: center;

}

#logo h1{
    float:left;
    font-family:"Liberation Serif";
    font-size: 1.5em;
    margin-top:2em;
    margin-bottom: 2em;
}

#form {
    padding-top: 100px;
}